<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
	integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	crossorigin="anonymous">
<title>Todo App</title>
</head>
<body>
	<header th:fragment="header">
		<div class="container">
			<a th:href="@{'/'}"><h1>Todo App</h1></a>
		</div>
	</header>
</body>
</html>