<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head" />
<body>
	<header th:replace="base :: header" />
	<div class="container">
		<main>
		<div class="row">
			<div class="col-md-6">
				<form th:action="@{'/todos/add'}">
					<input type="submit" value="New todo" class="btn btn-primary" />
				</form>
			</div>
			<div class="col-md-6">
				<form th:action="@{'/'}">
					<input type="submit" value="View current" class="btn btn-default" />
				</form>
			</div>
		</div>
		<hr>
		<div th:replace="todo_table :: todo-table">
		</div>
		</main>
	</div>
</body>
</html>